.hero {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hImg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 75%;
    width: max-content;
}

.hImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.heroTitle {
    margin-top: 50px;
    font-size: 90px;
    color: #62acf7;
}

.heroTitle span {
    color: white;
}

.certifications {
    width: 30%;
}

.certifications h2 {
    font-size: 23px;
}

.certifications p {
    font-size: 15px;
    color: #ddd;
    margin: 16px 0px;
}

.certificationsImages {
    display: flex;
    gap: 8px;
}

.certificationsImages img {
    width: 56px;
    height: 56px;
    padding: 8px;
    background-color: white;
    border-radius: 100%;
}

.scroll {
    margin-bottom: 50px;
    width: max-content;

}

.heroSection.right {
    align-items: end;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: #010134;
    border-bottom-right-radius: 10px;
}

.socials img {
    width: 28px;
    height: 28px;
}

.socialsTextContainer {
    width: 28px;
    height: 28px;
}

.socialsText {
    background-color: #62acf7;
    font-size: 16px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-28px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

}

.bubbleContainer {
    width: 55%;
    display: flex;
    align-items: end;
    gap: 8px;
    justify-content: space-between;
}

.bubble {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #555;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px 20px 0px 20px;
}

.bubbleContainer img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.contactButton {
    position: relative;
}

.contactButtonLink {
    margin-bottom: 50px;
}

.circleText {
    letter-spacing: 3px;
    font-size: 20px;
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 1280px) {
    .bg {
        height: 85%;
        top: auto;
        bottom: 0;

        
    }
    .heroTitle {
        font-size: 70px;
    }

    .bubbleContainer {
        width: 60%;
        transform: translateY(100px);
        font-size: 15px;
        border-radius: 20px 20px 0px 20px;
        
    }
    .bubble {
        font-size: 15px;
        padding: 16px;
    }

    .contactButtonLink {
        margin-top: auto;
    }

    



    
}

@media (max-width: 1180px) {
    .bg {
        height: 80%;
    }

    .heroTitle {
        font-size: 58px;
    }

    .certifications h2 {
        font-size: 18px;
    }

    .certifications p {
        font-size: 14px;
    }

    .certificationsImages img {
        width: 40px;
        height: 40px;
    }

    .bubbleContainer {
        width: 65%;
        padding: 5px;
        transform: translateY(120px);
    }

    .bubble {
        font-size: 13px;
        padding: 12px;
    }

  
    .contactButton>svg {
        width: 95px;
        height: 95px;
    }

    .arrow svg {
        width: 30px;
        height: 30px;
    }

    .socials {
        gap: 10px;
        padding: 8px;
    }

    .socials img {
        width: 20px;
        height: 20px;
    }

    .socialsTextContainer {
        width: 20px;
        height: 20px;
    }

    .socialsText {
        font-size: 14px;
        transform: translateY(-20px);
    }
}

@media (max-width: 1024px)  {
    .bg {
        height: 85%;
    }

    .heroTitle {
        font-size: 55px;
    }

    .certifications h2 {
        font-size: 16px;
    }

    .certifications p {
        font-size: 13px;
    }

    .certificationsImages img {
        width: 38px;
        height: 38px;
    }

    .scroll >svg {
        width: 40px;
        height: 40px;
    }

    .bubbleContainer {
        width: 58%;
        transform: translateY(90px);
    }

    .bubble {
        font-size: 12px;
        padding: 12px;
    }

  
    .contactButton>svg {
        width: 95px;
        height: 95px;
    }

    .arrow svg {
        width: 30px;
        height: 30px;
    }

    .socials {
        gap: 8px;
        padding: 5px;
    }

    .socials img {
        width: 18px;
        height: 18px;
    }

    .socialsTextContainer {
        width: 18px;
        height: 18px;
    }

    .socialsText {
        font-size: 12px;
        transform: translateY(-18px);
    }
}

@media (max-width: 768px) {

    .hero {
        flex-direction: column;
    }

    .bg {
        height: 60%;
    }

    .heroSection {
        width: 100%;
    }

    .heroSection.left {
        align-items: center;
        text-align: center;
        gap: 36px;
    }

    .heroTitle {
        font-size: 48px;
    }

    .certifications {
        width: 100%;
    }

    .certifications h2 {
        font-size: 20px;
    }

    .certifications p {
        font-size: 14px;
    }

    .certificationsImages {
        justify-content: center;
    }

    .certificationsImages img {
        width: 40px;
        height: 40px;
    }

    .heroSection.right {
        justify-content: end;
        gap: 20px;
    }

    .socials {
        position: absolute;
        top: 0;
        right: 0;
    }

    .bubbleContainer {
        width: 60%;
        align-self: center;
        margin-top: -45px;
    }

    .bubble {
        font-size: 12px;
        padding: 16px;
    }

    .scroll {
        margin-bottom: 75px;
    }
}

