.contact{
    height: 100%;
    display: flex;
    gap:100px;
}

.cSection{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

input, textarea{
    padding: 12px;
    border:none;
    border-radius: 5px;
}

.formItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
   font-size: 14px;
}
.formButton{
    background-color: #3898f8;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    
}