:root {
    --content-max-width: 2000px;

    --page-gutter:
        clamp(
            16px,
            0.5rem + 2vw,
            56px
        );
}

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;

    min-height: 100vh;
    min-height: 100svh;

    overflow-x: hidden;

    background:
        linear-gradient(
            45deg,
            #03003d 0%,
            #010128 35%,
            #000809 100%
        );

    color: white;

    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: var(--content-max-width);
    padding-inline: var(--page-gutter);
    margin-inline: auto;
}

section {
    height: 100vh;
    height: 100dvh;

    min-height: 320px;

    scroll-snap-align: center;
}





